{% extends "baseapp/layout.html" %}

{% block content %}
{% load static %}
<div class="jumbotron">
    <h1>Dialogorientierte Beteiligung in Baden-W&uuml;rtemberg</h1>
    <p class="lead">Erste Ergebnisse aus der Datenbank dialogische Beteiligungsverfahren - dem Forschungsprojekt zur Vermessung der Beteiligungslandschaft in Baden-W&uuml;rttemberg.</p>
    <p>Stand: August 2019</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-justify">
            <p>Zum Stand dieses Berichtes sind 816 der 1.101 baden-w&uuml;rttembergischen Gemeinden 
            (74 Prozent) komplett bearbeitet. F&uuml;r jede Gemeinde wurden mit Hilfe des oben 
            beschriebenen Verfahrens erhoben, wie viele Beteiligungsereignisse inneralb des 
            Anaylsezeitraums von jeweils drei Jahren in den Gemeinden stattgefunden haben. Im 
            Folgenden beschreiben wir a) wie h&auml;ufig entsprechende Beteiligungsereignisse insgesamt 
            stattgefunden haben, b) differenzieren nach Gemeindegr&ouml;&szlig;enklassen und analysieren die 
            Beteiligungsereignisse c) bezogen auf jeweils 1.000 Einwohner. Letzteres erlaubt 
            vergleichbare Aussagen &uuml;ber die Beteiligungsintensit&auml;t zu treffen, da es zeigt, wie viel 
            Beteiligung "pro 1.000 Einbwohner" stattfindet. Auf diese Weise wird zus&auml;tzlich die Gr&ouml;&szlig;e 
            der Kommune herausgerechnet und somit werden unterschiedliche Voraussetzungen, was den 
            Aufgabenumfang und die Aufgabenvielfalt der Kommunen betrifft, ber&uuml;cksichtigt. Von den 
            bearbeiteten Gemeinden verzeichnen 573, also 70 Prozent mindestens ein 
            Beteiligungsereignis im Analysezeitraum von drei Jahren.</p>

            <figure class="mx-5 figure">
                <figcaption class="figure-caption">Abb. 1: H&auml;ufigkeit der Beteiligungseereignisse pro Kommune im gesamten Analysezeitraum (3 Jahre)</figcaption>
                <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (1).png' %}" 
                     alt="H&auml;ufigkeit der Beteiligungseereignisse pro Kommune im gesamten Analysezeitraum (3 Jahre)"
                     class="figure-im img-fluid mx-auto d-block">
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-justify">
            <p>Insgesamt fanden in den bearbeiteten Gemeinden &uuml;ber den Analysezeitraum von drei Jahren 2.758 Beteiligungsereignisse statt. In den beiden Kommunen 
            mit den meisten Ereignissen liegen 146 bzw. 109 Verfahren vor, was im Vergleich zu den anderen eine besonders hohe Anzahl darstellt. Daher werden 
            Gemeinden mit &uuml;ber 100 Ereignissen bzw. die Ereignisse selbst von den weiteren Analysen ausgeschlossen, um die Resultate zur Zahl der Ereignisse
            pro Kommune nicht nach oben zu verzerren. Nach Ausschluss der Ereignisse in beiden Kommunen sind es noch 2.503 Ereignisse. F&uuml;r die Kommune mit 
            den meisten Ereignissen wurden nun 63 Ereignisse identifiziert. F&uuml;r alle weiteren Auswertungen werden die Resultate immer immer in Bezug auf ein
            Jahr berichtet.<a href="#fn8" class="footnote-ref" id="fnref8"><sup>8</sup></a></p>
            <p>Der Mittelwert (arithmetisches Mittel) liegt bei 1 Beteiligungsereignissen pro Kommune und Jahr (mit einer Standardabweichung von 1,9). Pro Jahr findet 
            in einer Gemeinde also durchschnittlich ein Beteiligungsereignis statt. Die Verteilung ist hierbei sehr rechtsschief, wie in Abbildung 2 
            ersichtlich wird. In Verteilung ist hierbei sehr rechtsschief, wie in Abbildung 3 ersichtlich wird. In 243 (30 Prozent) der 
            Kommunen fand kein Ereignis statt, ein einzelnes Ereignis wurde in 175 (22 Prozent) Gemeinden verzeichnet. Demnach haben etwas weniger als die H&auml;lfte 
            der Kommunen zwei oder mehr Ereignisse pro Jahr im Untersuchungszeitraum zu verzeichnen.</p>


            <figure class="mx-5 figure">
                <figcaption class="figure-caption">Abb. 2: Anzahl der ermittelten Beteiligungsereignisse pro Jahr nach Gemeindegr&ouml;&szlig;enklassen</figcaption>
                <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (2).png' %}"
                     alt="Anzahl der ermittelten Beteiligungsereignisse pro Jahr nach Gemeindegr&ouml;&szlig;enklassen"
                     class="figure-im img-fluid mx-auto d-block">
            </figure>

            <figure class="mx-5 figure">
                <figcaption class="figure-caption">
                    Abb. 3: Durchschnittliche Anzahl der Beteiligungsereignisse pro Kommune pro Jahr nach Gemeindegr&ouml;&szlig;enklassen</figcaption>
                <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (3).png' %}"
                     alt="Durchschnittliche Anzahl der Beteiligungsereignisse pro Kommune pro Jahr nach Gemeindegr&ouml;&szlig;enklassen"
                     class="figure-im img-fluid mx-auto d-block">
            </figure>
        </div>
    </div>

    <div class="row "> 
        <div class="col-md-12 d-flex justify-content-center">
            <table class="table">
                <caption>Tab. 1: Zahl der Kommunen in Baden-W&uuml;rttemberg nach Gemeindegr&ouml;&szlig;enklasse</caption>
                <thead>
                <tr class="header">
                <th align="left">Einwohner</th>
                <th align="left">Erfasste Kommunen</th>
                <th align="left">In %</th>
                <th align="left">In % BW gesamt</th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd">
                <td align="left">&lt;2.000</td>
                <td align="left">137</td>
                <td align="left">16.8</td>
                <td align="left">16.2</td>
                </tr>
                <tr class="even">
                <td align="left">2.001 - 5.000</td>
                <td align="left">301</td>
                <td align="left">37.0</td>
                <td align="left">36.0</td>
                </tr>
                <tr class="odd">
                <td align="left">5.001 - 20.000</td>
                <td align="left">302</td>
                <td align="left">37.1</td>
                <td align="left">38.4</td>
                </tr>
                <tr class="even">
                <td align="left">20.001 - 50.000</td>
                <td align="left">58</td>
                <td align="left">7.1</td>
                <td align="left">7.3</td>
                </tr>
                <tr class="odd">
                <td align="left">50.001 - 100.000</td>
                <td align="left">10</td>
                <td align="left">1.2</td>
                <td align="left">1.7</td>
                </tr>
                <tr class="even">
                <td align="left">&gt;100.000</td>
                <td align="left">6</td>
                <td align="left">0.7</td>
                <td align="left">0.7</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-justify">
            <p>Ein wichtiger Fakor der Analyse der Beteiligungsereignisse ist die Gemeindegr&ouml;&szlig;e. Die meisten Ereignisse fanden in Gemeinden mit 5.001 - 20.000 Einwohnern statt 
            (siehe Abbildung 4). Jedoch ist hierbei zu beachten, dass die Gemeindegr&ouml;&szlig;e selbst nicht gleichm&auml;&szlig;ig &uuml;ber die 
            Gemeinden verteilt ist (siehe Tabelle 1). Teilt man die Anzahl der Beteiligungsereignisse durch die Anzahl der Kommunen der jeweiligen 
            Gemeindegr&ouml;&szlig;enklasse, l&auml;sst sich feststellen, dass mit steigender Bev&ouml;lkerungsgr&ouml;&szlig;e auch die durchschnittliche Anzahl der 
            Beteiligungsereignisse pro Gemeinde zunimmt (siehe Abbildung 4). In Kommunen mit weniger als 2.000 Einwohnern finden durchschnittlich
            0,4 Ereignisse pro Kommune und Jahr statt, w&auml;hrend Gro&szlig;st&auml;dte mit &uuml;ber 100.000 Einwohnern im Schnitt 10 Ereignisse pro Jahr erleben.</p>

            <figure class="mx-5 figure">
                <figcaption class="figure-caption">
                    Abb. 4: Durchschnittliche Anzahl der Beteiligungsereignisse pro 1.000 Einwohner pro Jahr nach Gemeindegr&ouml;&szlig;enklassen
                </figcaption>
                <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (4).png' %}"
                     alt=" Durchschnittliche Anzahl der Beteiligungsereignisse pro 1.000 Einwohner pro Jahr nach Gemeindegr&ouml;&szlig;enklassen"
                     class="figure-im img-fluid mx-auto d-block">
            </figure>

            <p>Im Kontext des Zusammenhangs der H&auml;ufigkeit der Beteiligungsereignisse mit der Bev&ouml;lkerungsgr&ouml;&szlig;e ist es sinnvoll, die Zahl der 
            Beteiligungsereignisse pro 1.000 Einwohner zu betrachten. Dieses Ma&szlig; f&uuml;r Beteiligungsdichte erlaubt die Anzahl von Beteiligungsereingnissen 
            zwischen gro&szlig;en und kleinen Kommunen unabh&auml;ngig von der Einwohnerzahl zu vergleichen. &Uuml;ber alle Kommunen hinweg finden pro Jahr finden 
            im Schnitt 0,2 Beteiligungsereignisse pro 1.000 Einwohner statt. Betrachtet man nun die Anzahl der Beteiligunsereignisse je Kommune pro 1.000 Einwohner 
            getrennt nach Gemeindegr&ouml;&szlig;e, wird eine umgekehrte Verteilung als zuvor ersichtlich (siehe Abbildung @ref(fig:fig3-0-3-mean-bevoelkerung-pro1k)). 
            In Kommunen mit unter 2.000 Einwohnern finden pro Jahr etwa 0,3 Ereignisse pro 1.000 Einwohner statt, in St&auml;dten mit &uuml;ber 100.000 Einwohnern dagegen 
            nur 0,1 Ereignisse. Das hei&szlig;t, dass die Beteiligungsdichte in kleinen Kommunen h&ouml;her ist als in gr&ouml;&szlig;eren Kommunen. Der gr&ouml;&szlig;ere 
            Aufgabenumfang und die breitere Aufgabenviefalt, die gro&szlig;e St&auml;dte im Vergleich zu kleinen Gemeinden haben, lassen eigentlich im Sinne eines 
            Skalierungseffektes mehr Beteiligungsereignissen pro 1.000 EInwohner erwarten, emprisch zeigt sich dieser Zusammenhang jedoch genau umgekehrt.</p>




<h2>Die erfassten Merkmale im &Uuml;berblick</h2>

<p>Die folgenden Analysen geben Auskunft &uuml;ber</p>
<ul>
    <li><p>Die Themengebiete, zu dem die Beteiligungsveranstaltungen stattfanden,</p></li>
    <li><p>Die Art der Beteiligung (Information vs. dialogische Beteiligung)</p></li>
    <li><p>Die Initiatoren</p></li>
    <li><p>Die Zielgruppe</p></li>
    <li><p>Den r&auml;umlichen Bezug</p></li>
</ul>
<p>Sie beziehen sich immer auf den kompletten Analysezeitraum (3 Jahre) vor dem Erhebungszeitpunkt der jeweiligen Kommune. Analysiert werden wie oben a) die Gesamtzahl der jeweils identifizierten Ereignisse, b) ihr Stattfinden pro 1.000 Einwohner und c) ihre Nutzung in Kommunen unterschiedlicher Gemeindegr&ouml;&szlig;enklassen.</p>




<h3>Themengebiet der Beteiligung</h3>

<p>Die mit den Beteiligungsereignissen in den Onlinequellen genannten Themengebiete, zu denen die Beteiligungsveranstaltungen durchgef&uuml;hrt wurden, haben wir zu sechs Kategorien zusammengefasst:</p>


<ul>
    <li><p>Infrastruktur, Stadtentwicklung, Mobilit&auml;t/Verkehr</p></li>
    <li><p>Jugend, Sport, Soziales und Kultur</p></li>
    <li><p>Umwelt/Energie</p></li>
    <li><p>Migration</p></li>
    <li><p>B&uuml;rgerbeteiligung</p></li>
    <li><p>ohne klare Festlegung</p></li>
    <li><p>Sonstiges</p></li>
</ul>



<p>Von allen erfassten Beteiligungsveranstaltungen fanden mit 29 Prozent die meisten Beteiligungsereignisse zu den Themen "Infrastruktur, Stadtnentwicklung, Mobilit&auml;t/Verkehr" statt (vgl. Abbildung 5). Die zweitgr&ouml;&szlig;te Themengruppe beinhaltet Beteiligungsereignisse ohne genaue Festlegung (z.B. Beteiligungsereignissen, bei denen erst vor Ort durch die Beteiligten verschiedene Themen auf die Tagesordnung kommen, oder bei denen eine breites Themenspektrum abgedeckt wird). &Auml;hnlich h&auml;ufig finden Ereignisse zu "Jugend, Sport, Soziales und Kunst" und zu sonstigen Themen (z.B. Wirtschaft, Finanzen) statt. Immerhin drei Prozent der Ereignisse (insgesamt 77 &uuml;ber die drei Jahre) finden zum Thema B&uuml;rgerbeteiligung selbst statt - hier arbeiten B&uuml;rger beispielsweise an der Entwicklung von Leitlinien mit oder tauschen sich &uuml;ber m&ouml;gliche Formen der Beteiligung aus.</p>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 5: Themengebiet der erfassten Beteiligungsereignisse (Anteil in Prozent)
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (5).png' %}"
         alt="Themengebiet der erfassten Beteiligungsereignisse (Anteil in Prozent)"
         class="figure-im img-fluid mx-auto d-block">
</figure>




<p>Ein anderes Bild zeigt sich, wenn man die Anzahl der Ereignisse pro 1.000 Einwohner betrachtet (siehe Abbildung 6). Hier sind alle Themen au&szlig;er "B&uuml;rgerbeteiligung", "Migration" und "Sonstiges" in &auml;hnlich starkem Umfang vertreten. Die Beteiligungsdichte zu den verschiedenen Themen liegt bei etwa 0,14 Beteiligungsereignisse pro 1.000 Einwohnern und Jahr. Besonders bei den Themen Umwelt und Energie zeigt sich, dass diese Themen pro 1.000 Einwohner relativ wichtiger sind, als in absoluten Zahlen.</p>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 6: Themengebiet der erfassten Beteiligungsereignisse pro Jahr pro 1.000 Einwohner
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (6).png' %}"
         alt="Themengebiet der erfassten Beteiligungsereignisse pro Jahr pro 1.000 Einwohner"
         class="figure-im img-fluid mx-auto d-block">
</figure>

<p>In Abbildung 7 findet sich die Darstellung des Themengebietes in Relation zur Bev&ouml;lkerungsgr&ouml;&szlig;e der Kommunen, in welchen das Ereignis stattfand. In St&auml;dten mit &uuml;ber 100.000 Einwohnern fanden durchschnittlich 4,7 Ereignisse zum Thema Infrastruktur pro Jahr statt. Die n&auml;chstgr&ouml;&szlig;eren Kategorien sind Ereignisse zu sonstigen Themen und ohne klare Festlegung, welche pro Jahr 1,7 mal, bzw. 1,6 stattfanden. Der relativ gro&szlig;e Anteil von Ereignissen zu Infrastrukturthemen ist prim&auml;r in der gr&ouml;&szlig;ten Gemeindegr&ouml;&szlig;enklasse zu beobachten, w&auml;hrend das Verh&auml;ltnis in kleineren Kommunen ausgeglichener ist. B&uuml;rgerbeteiligung zu Infrastrukturthemen findet hier nicht h&auml;ufiger statt als Beteiligungsereignisse zu anderen Themen.</p>



<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 7: Beteiligungsereignisse pro Kommune und Jahr nach Themengebiet und Gemeindegr&ouml;&szlig;enklassen
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (7).png' %}"
         alt="Beteiligungsereignisse pro Kommune und Jahr nach Themengebiet und Gemeindegr&ouml;&szlig;enklassen"
         class="figure-im img-fluid mx-auto d-block">
</figure>



<h3>Methode der Beteiligung</h3>

<p>
    Nicht bei allen identifizierten Beteiligungsereignissen konnte eindeutig ermittelt werden, um welche Art der Beteiligung es sich gehandelt hat, da die
    in den Ver&ouml;ffentlichungen verwendeten Bezeichnungen stark variieren. Aus diesem Grund unterscheiden wir hier bez&uuml;glich der Art der Beteiligung lediglich
    zwischen zwei Kategorien: Veranstaltungen, die einen eindeutig dialogischen Charakter haben und solchen, die "lediglich&quot; als "Informationsveranstaltung&quot;
    bezeichnet wurden. Inwieweit bei Letzteren dialogische Elemente vorhanden waren, l&auml;sst sich aus den zur Verf&uuml;gung stehenden Informationen nicht ermitteln.
</p>
<p>
    Die genutzte Methode der Beteiligungsverfahren ist in Abbildung 8 dargestellt. Die gr&ouml;&szlig;te Kategorie stellen mit 1.692 Ereignissen
    Dialogveranstaltungen dar, was 68 Prozent aller Ereignisse entspricht. Einen deutlich geringeren Anteil stellen Veranstaltungen dar, die prim&auml;r dem Zweck der
    Information gelten. Diese machen mit 811 Ereignissen 32 Prozent der gesamten Veranstaltungen aus.
</p>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 8: Methode der erfassten Beteiligungsereignisse pro Jahr (Prozent)
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (8).png' %}"
         alt="Methode der erfassten Beteiligungsereignisse pro Jahr (Prozent)"
         class="figure-im img-fluid mx-auto d-block">
</figure>

<p>
    Auf 1.000 Einwohner betrachtet fanden Dialogveranstaltungen ebenfalls h&auml;ufiger statt, jedoch ist der Abstand zu Informationsveranstaltungen vergleichsweise
    geringer (siehe Abbildung 9). Es fanden pro Jahr pro 1.000 Einwohner 0,2 Dialoge und 0,1 Informationsveranstaltungen statt.
</p>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 9: Methode der erfassten Beteiligungsereignisse pro Jahr und pro 1.000 Einwohner
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (9).png' %}"
         alt="Methode der erfassten Beteiligungsereignisse pro Jahr und pro 1.000 Einwohner"
         class="figure-im img-fluid mx-auto d-block">
</figure>

<p>
    Im n&auml;chsten Schritt wird die Methode der Beteiligungsverfahren in Bezug zur Bev&ouml;lkerungsgr&ouml;&szlig;e der Kommunen, in welchen sie stattfanden,
    gesetzt (siehe Abbildung 10). In allen Kategorien &uuml;berwiegen Dialog- gegen&uuml;ber Informationsveranstaltungen. Insbesondere in Gemeinden mit
    gr&ouml;&szlig;erer Einwohnerzahl trifft dies zu. In St&auml;dten mit &uuml;ber 100.000 Einwohnern finden pro Jahr durchschnittlich 2,8 Informations- und 7,4
    Dialogveranstaltungen statt, letztere also in etwa 2,6 mal h&auml;ufiger. In kleineren Gemeinden ist diese Gef&auml;lle etwas geringer. Zum Beispiel
    finden in Kommunen mit &uuml;ber 2.000 bis zu 5.000 Einwohnern im Schnitt 0,2 Informations- und Dialogveranstaltungen pro Jahr statt, was
    einem Verh&auml;ltnis von 1 zu 1,7 entspricht.
</p>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 10: Anzahl der erfassten Beteiligungsereignisse pro Jahr nach Methode Gemeindegr&ouml;&szlig;enklasse
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (10).png' %}"
         alt="Anzahl der erfassten Beteiligungsereignisse pro Jahr nach Methode Gemeindegr&ouml;&szlig;enklasse"
         class="figure-im img-fluid mx-auto d-block">
</figure>


<h3>Initiator der Beteiligung</h3>

<p>
    Au&szlig;erdem interessiert uns, wer die Ausl&ouml;ser/Initiatoren der Beteiligungsereignisse sind, wobei wir diesbez&uuml;glich unterscheiden zwischen den
    Kommunalverwaltungen (inkl. der B&uuml;rgermeister und anderer Beh&ouml;rden/&Auml;mter) sowie die Initiierung durch andere Akteure, zu denen Gemeinder&auml;te/innen,
    Vereine, Gruppen oder Einzelpersonen geh&ouml;ren k&ouml;nnen. Diese Unterscheidung ist von Interesse, da aus der participatory Governance-Perspektive
    meist nur verwaltungsinitiierte Verfahren betrachtet werden. Wir k&ouml;nnen dagegen zeigen, wie viele Beteiligungsereignisse auch von anderen
    Akteuren angesto&szlig;en werden.
</p>
<p>
    Wie erwartet werden die meisten Beteiligungsereignisse (66 Prozent; N = 548 pro Jahr) durch die Verwaltungen initiiert (vgl. Abbildung 11).
    Das hei&szlig;t, es sind zumeist tats&auml;chlich die B&uuml;rgermeister, andere kommunalen Beh&ouml;rden/&Auml;mter oder der Gemeinderat, die die Beteiligungsereignisse
    anregen. Die restlichen 287 Ereignisse pro Jahr (34 Prozent) wurden aber auch durch andere Akteure angesto&szlig;en, zum Beispiel durch Vereine, Verb&auml;nde,
    Parteien oder Einzelpersonen. Pro 1.000 Einwohner sind es im Schnitt 0,2 Ereignisse pro Jahr, welche von der Verwaltung initiiert werden und
    0,1 durch andere Akteure (siehe Abbildung 12).
</p>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 11: Initiator der erfassten Beteiligungsereignisse (Prozent)
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (11).png' %}"
         alt="Initiator der erfassten Beteiligungsereignisse (Prozent)"
         class="figure-im img-fluid mx-auto d-block">
</figure>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 12: Initiator der erfassten Beteiligungsereignisse pro Jahr und 1.000 Einwohner
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (12).png' %}"
         alt="Initiator der erfassten Beteiligungsereignisse pro Jahr und 1.000 Einwohner"
         class="figure-im img-fluid mx-auto d-block">
</figure>

<p>
    Die Darstellung des Initiators der Beteiligungsverfahren im Kontext zur Gemeindegr&ouml;&szlig;e findet sich in Abbildung 13.
    In gro&szlig;en Gemeinden bzw. St&auml;dten mit &uuml;ber 50.000 Einwohnern &uuml;berwiegt der Anteil durch die Verwaltung initiierten Verfahren. W&auml;hrend in diesen
    Bev&ouml;lkerungskategorien &uuml;ber doppelt so viele Verfahren durch die Verwaltung initiiert werden wie durch andere Akteure, nimmt dieses Gef&auml;lle in
    kleineren Gemeinden deutlich ab. Hier kommen Verfahren mit anderen Initiatoren nahezu gleich h&auml;ufig vor wie Ereignisse, die durch die
    Verwaltung initiiert wurden.
</p>


<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 13: Anzahl der erfassten Beteiligungsereignisse pro Jahr nach Initiator und Gemeindegr&ouml;&szlig;enklasse
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (13).png' %}"
         alt="Anzahl der erfassten Beteiligungsereignisse pro Jahr nach Initiator und Gemeindegr&ouml;&szlig;enklasse"
         class="figure-im img-fluid mx-auto d-block">
</figure>



<h3>Zielgruppe der Beteiligung und r&auml;umlicher Bezug</h3>

<p>
    Die n&auml;chste Auswertung betrachtet die Zielgruppen der Beteiligung. Die Beteiligungsverfahren richten sich zu etwa 72 Prozent an die B&uuml;rgerschaft
    im Allgemeinen oder nennen zumindest keine spezifische Zielgruppe (vgl. Abbildung14). Deutlich weniger Ereignisse haben r&auml;umlich oder
    sachlich Betroffene als Zielgruppe (ca. 17 Prozent). Am seltensten sind bestimmte sozialstrukturelle Gruppen wie Senioren oder Jugendliche
    das (alleinige) Ziel der Beteiligungsverfahren (11 Prozent). Bezogen auf 1.000 Einwohner waren B&uuml;rger ganz Allgemein 0.22 pro Jahr mal das
    Ziel von Beteiligungsveranstaltungen, w&auml;hrend es 0.14 mal r&auml;umlich oder sachlich Betroffene und 0.09 mal sozial-strukturelle Gruppen waren
    (vgl. Abbildung 15).
</p>
<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 14: Zielgruppe der erfassten Beteiligungsereignisse (Prozent)
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (14).png' %}"
         alt="Zielgruppe der erfassten Beteiligungsereignisse (Prozent)"
         class="figure-im img-fluid mx-auto d-block">
</figure>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 15: Zielgruppen der erfassten Beteiligungsereignisse pro Jahr pro 1.000 Einwohner
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (15).png' %}"
         alt="Zielgruppen der erfassten Beteiligungsereignisse pro Jahr pro 1.000 Einwohner"
         class="figure-im img-fluid mx-auto d-block">
</figure>

<p>
    In den meisten F&auml;llen (ca. 82 Prozent) befand sich die Zielgruppe auf kommunaler Ebene (vgl. Abbildung 16). Etwa 19
    Prozent der Ereignisse waren (auch) an Teilnehmende au&szlig;erhalb der Kommunen gerichtet. Pro 1.000 Einwohner sind 0.21
    Ereignisse pro Jahr auf die kommunale Ebene bezogen und 0.13 auf eine &uuml;berkommunale Zielgruppe (vgl. Abbildung 17).
</p>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 16: R&auml;umlicher Bezug der Zielgruppe der erfassten Beteiligungsereignisse
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (16).png' %}"
         alt="R&auml;umlicher Bezug der Zielgruppe der erfassten Beteiligungsereignisse"
         class="figure-im img-fluid mx-auto d-block">
</figure>


<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 17: R&auml;umlicher Bezug der Zielgruppe der erfassten Beteiligungsereignisse pro Jahr pro 1.000 Einwohner
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (17).png' %}"
         alt="R&auml;umlicher Bezug der Zielgruppe der erfassten Beteiligungsereignisse pro Jahr pro 1.000 Einwohner"
         class="figure-im img-fluid mx-auto d-block">
</figure>

<p>Die Zielgruppe im Kontext der Gemeindegr&ouml;&szlig;e wird in Abbildung 18 betrachtet. F&uuml;r alle drei Zielgruppen nimmt die H&auml;ufigkeit der Ereignisse 
    mit der Gemeindegr&ouml;&szlig;e zu, jedoch in verschiedenem Ausma&szlig;. Am st&auml;rksten ist diese Zunahme bei Ereignissen mit der Zielgruppe "B&uuml;rger allgemein" zu 
    beobachten. In gr&ouml;&szlig;eren Gemeinden nimmt also die verh&auml;ltnism&auml;&szlig;ige H&auml;ufigkeit von Ereignissen mit den Zielgruppen "sozialstrukturelle Gruppen" 
    und "r&auml;umlich/sachlich Betroffene" im Vergleich zu denen mit "B&uuml;rgern allgemein" als Ziel ab.</p>

<figure class="mx-5 figure">
    <figcaption class="figure-caption">
        Abb. 18: Anzahl der erfassten Beteiligungsereignisse pro Jahr nach Zielgruppe und Gemeindegr&ouml;&szlig;enklasse
    </figcaption>

    <img src="{% static '/graphics/auswertungen/dialogbeteiligung/abb_diag (18).png' %}"
         alt="Anzahl der erfassten Beteiligungsereignisse pro Jahr nach Zielgruppe und Gemeindegr&ouml;&szlig;enklasse"
         class="figure-im img-fluid mx-auto d-block">
</figure>
        <p><hr width="20%" align="left"></p>
        <div class="font-weight-light small">
        <p>Weiterf&uuml;hrende Literaturempfehlungen:</p>
        <ul>
            <li>Vetter, Angelika; Remer-Bollow, Uwe (2017): B&uuml;rger und Beteiligung in der Demokratie - Eine Einf&uuml;hrung. Wiesbaden: Springer VS,
<a href="https://doi.org/10.1007/978-3-658-13722-9" target="_blank""><span class="fa fa-external-link"></span> DOI: 10.1007/978-3-658-13722-9</a>.</li>
            <li>Dryzek, John; B&auml;chtiger, Andr&eacute; u. a. (2019): The crisis of democracy and the science of deliberation. 
            In: Science 363.6432, S. 1146, <a href="https://doi.org/10.1126/science.aaw2694 target="_blank""><span class="fa fa-external-link"></span> DOI: 10.1126/science.aaw2694</a>.</li>
            <li>Vetter, Angelika; Geyer, Saskia; Eith, Ulrich (2015): Die wahrgenommenen Wirkungen von B&uuml;rgerbeteiligung. In: Baden-W&uuml;rttemberg Stiftung 
            (Hg.): Demokratie-Monitoring Baden-W&uuml;rttemberg 2013/2014. Wiesbaden: Springer VS, S. 223-342, 
            <a href="https://doi.org/10.1007/978-3-658-09420-1_6" target="_blank"><span class="fa fa-external-link"></span> DOI: 10.1007/978-3-658-09420-1_6</a>.</li>
            <li>Ansell, Chriss; Gash, Alison (2007): Collaborative Governance in Theory and Practice. In: Journal of Public Administration 
            Research and Theory 18 (4), S. 543-571, 
            <a href="https://doi.org/10.1093/jopart/mum032" target="_blank"><span class="fa fa-external-link"></span> DOI: 10.1093/jopart/mum032</a>.</li>
        </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}
