{% extends "baseapp/layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1>Scientific Use File</h1>
    <p class="lead">
      F&uuml;r wissenschaftliche Zwecke betseht die M&ouml;glichkeit, die Daten der Datenbank dialogische Beteiligungsverfahren als "Scientific Use File" zu erhalten. 

    Nehmen Sie doch einfach telefonscih oder per Mail <a href="{% url 'contact' %}">Kontakt</a> mit uns auf. Wir k&ouml;nnen Ihnen die Daten mti unterschiedlichen Variablen und in 
    verschiedenen Dateiformaten zur Verf&uuml;gung stellen.</p>
</div>


{% endblock %}
