{% extends "baseapp/layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1>Gemeinden in Baden-W&uuml;rttemberg</h1>
    <p class="lead">
        Hier lassen sich die gefundenen Beteiligungsprojekte, Beteiligungsereignisse und Daueraufgaben abrufen nach Gemeinden erkunden.
</div>

<div class="container">
<div class="row">  
    <div class="col-md-12">
<ul>
{% for gemeinde in page_obj %}
    <li><a href="{% url 'gemeindeansicht' gemeinde.pk %}">{{ gemeinde.name }}</a> (<acronym title="Regionalschl&uuml;ssel" xml:lang="de" lang="de">RS</acronym>: {{ gemeinde.regionalschluessel }})</li>
{% empty %}
    <li>Noch keine Gemeinden bearbeitet.</li>
{% endfor %}
</ul>
    </div>
</div>
</div>

<div>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item active">
            <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
