{% extends "baseapp/layout.html" %}

{% block content %}

<div class="container">
    <form method="get" action=".">
    <div class="row">    
        <div class="col-xs-8 col-xs-offset-2">
		    <div class="input-group">
                <input id="id_q" type="text" class="form-control" name="q" placeholder="suche nach...">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-sm" type="submit">Suchen</button>
                </div>
            </div>
        </div>
	</div>
  

    {% if query %}
<p></p><p></p>
    <div class="row">
        <h3>Suchergebnisse</h3>
    </div>
    <div class="row">  
            {% for result in page.object_list %}
            {% if result.object.regionalschluessel %}
                <p>Gemeinde</br>
                <a href="{% url 'gemeindeansicht' result.object.pk  %}">{{ result.object.name }}: {{ result.object.get_textkennzeichen_display }}</a></br>
                </p>
            {% else %}
                <p><a href="{% url 'beteiligungsereignis' result.object.gebietseinheit_id result.object.pk %}">{{ result.object.gebietseinheit.name }}: {{ result.object.bezeichnung }}</a></br>
                {{ result.object.start_datum }} - {{ result.object.beschreibung|truncatechars:140 }}</p>
            {% endif %}     
            {% empty %}
                <p>Keine Ergebnisse gefunden.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Zur&uuml;ck{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Weiter &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </div>
    </form>
</div>
{% endblock %}