{% extends "baseapp/layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>ddb Webapp</h1>
    <p class="lead">Die ddb-Webapp ist das Datenerhebungs-Backend der 
    <a href="http://www.uni-stuttgart.de/soz/dbb/" target="_blank">Datenbank dialogische Beteiligungsverfahren</a>. 
    Die Webanwendung integriert die verschiedenen Arbeitsschritte und verteilt die anfallenden Arbeitspakete.</p>
    <p><a href="http://www.uni-stuttgart.de/soz/ddb/webapp.html" class="btn btn-primary btn-large">Mehr &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Datenbestand</h2> <!--TODO: Badges f&uuml;r Erhebnungsstand-->
        <p>
                Bisher wurden 9999 Beteiligungsereignisse in 9999 Kommunen in Baden-W&uuml;rttemberg identifiziert. Sie k&ouml;nnen den Datenbestand gerne erkunden. Verschiedene Such- und Filterm&ouml;glichkeiten helfen Ihnen zu finden, was Sie interessiert.   
                F&uuml; weitergehende Auswertungen steht ein Scientific Use File zur Verf&uuml;gung.
        </p>
        <p><a class="btn btn-warning" href="#">Fehlt noch &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>&Uuml;ber das Projekt</h2>
        <p>Die Auswertungen auf dieser Seite basieren auf den Daten der <em>Datenbank dialogorientierte Beteiligunsverfahren</em> (<acronym title="Datenbank dialogorientierte Beteiligungsverfahren" xml:lang="de" lang="de">DDB</acronym>), die im Rahmen von Drittmittelforschungs am <a href="https://www.sowi.uni-stuttgart.de/" target="_blank">Institut f&uuml;r Sozialwissenschaften</a> der Universit&auml;t Stuttgart gesammelt werden.  </p>
        <p><a class="btn btn-secondary" href="{% url 'projektbeschreibung' %}">Mehr &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hinter den Kulissen</h2>
        <p>
        Eine speziell f&uuml;r das Projekt entwickelte Anwendung integriert die verschiedenen Schritte der Datenerhebung und Aufbereitung. Es handelt sich um eine Webanwendung die in Python auf Basis des <a href="https://www.djangoproject.com/" target="_blank"><span class="fa fa-external-link"></span> Django</a> Webframeworks geschrieben wurde. 
        Eine ausf&uuml;hrliche Dokumentation und den Code gibt es auf Github <span class="fa fa-github"></span>.
        </p>
        <p><a class="btn btn-secondary" href="https://github.com/uweremer/ddb_webapp" target="_blank"><span class="fa fa-external-link"></span> Zum Repository &raquo;</a></p>
    </div>
</div>

{% endblock %}
