{% extends "baseapp/layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Beteiligungslandschaft BW</h1>
    <p class="lead">B&uuml;rgerbeteiligung und partizipative Demokratie in den St&auml;dten und Gemeinden in Baden-W&uuml;rttemberg.</p>
    <p>B&uuml;rgerbeteiligung in Form von Dialogen, B&uuml;rgerforen und anderen Formaten sind heute weit verbreitet und finden in vielen 
    Orten und zu vielen Themen statt. Die partizipative und die deliberative Demokratietheorie bilden die normative Grundlage f&uuml;r die 
    Forderung nach mehr Beteiligung der B&uuml;rger an politischen Entscheidungen. Dar&uuml;ber hinaus wird erwartet, dass in der Praxis 
    durch dialogorientierte Beteiligung Entscheidungen besser und Konflikte entsch&auml;rft werden. Der Dialog auf Augenh&ouml;he ist ein 
    Beitrag zur politischen Kultur. In der Summe l&auml;sst sich hoffen, dass st&auml;rkere dialogorientiere Beteiligung das Funktionieren 
    der Demokratie verbessert, ihre Voraussetzungen st&auml;rkt und somit gegen aktuelle Krisen und Herausforderungen  wirkt.</p>
    <p><a href="#" class="btn btn-warning btn-large">Mehr &uuml;ber dialogorientierte Beteiligung &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Datenbestand erkunden</h2> <!--TODO: Badges f&uuml;r Erhebnungsstand-->
        <p>Bisher wurden <span class="badge badge-pill badge-secondary">#NA</span> Beteiligungsereignisse in <span class="badge badge-pill badge-secondary">#NA</span> Kommunen in Baden-W&uuml;rttemberg identifiziert. Sie k&ouml;nnen den Datenbestand gerne erkunden. Verschiedene Such- und Filterm&ouml;glichkeiten helfen Ihnen zu finden, was Sie interessiert. F&uuml; weitergehende Auswertungen steht ein Scientific-Use-File zur Verf&uuml;gung.
        </p>
        <p><a class="btn btn-warning" href="#">Fehlt noch &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>&Uuml;ber das Projekt</h2>
        <p>Die Auswertungen auf dieser Seite basieren auf den Daten der <em>Datenbank dialogorientierte Beteiligunsverfahren</em> (<acronym title="Datenbank dialogorientierte Beteiligungsverfahren" xml:lang="de" lang="de">DDB</acronym>), die im Rahmen von Drittmittelforschungs am <a href="https://www.sowi.uni-stuttgart.de/" target="_blank">Institut f&uuml;r Sozialwissenschaften</a> der Universit&auml;t Stuttgart gesammelt werden.  </p>
        <p><a class="btn btn-secondary" href="{% url 'projektbeschreibung' %}">Mehr &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hinter den Kulissen</h2>
        <p>
        Eine speziell f&uuml;r das Projekt entwickelte Anwendung integriert die verschiedenen Schritte der Datenerhebung und Aufbereitung. Es handelt sich um eine Webanwendung die in Python auf Basis des <a href="https://www.djangoproject.com/" target="_blank"><span class="fa fa-external-link"></span> Django</a> Webframeworks geschrieben wurde. 
        Eine ausf&uuml;hrliche Dokumentation und den Code gibt es auf Github <span class="fa fa-github"></span>.
        </p>
        <p><a class="btn btn-secondary" href="https://github.com/uweremer/ddb_webapp" target="_blank"><span class="fa fa-external-link"></span> Zum Repository &raquo;</a></p>
    </div>
</div>

{% endblock %}

