<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Beteiligungslandschaft BW</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/graphics/favicon.ico' %}">
</head>

<!--<body style="background-image:url({% static '/graphics/test.jpg' %})"-->
<body>
{% block nav %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-brand" href="#">
    <img src="{% static '/graphics/falter.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Beteiligungslandschaft BW
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if app_role == "distributor" %}
      {% include "baseapp/navbar_distributor.html" %}
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'projektbeschreibung' %}">&Uuml;ber das Projekt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
</nav>
{% endblock nav %}

 <div class="container body-content">
<div><p></p></div>
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <div class="hidden-print">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; {{ year }} - <a href="https://www.sowi.uni-stuttgart.de/abteilungen/ps/forschung/dbb/" target="_blank">Universität Stuttgart, Sowi I</a></p>
                </div>
                <div class="col-md-6">
                    <p class="text-right"><a href="{% url 'datenschutz' %}">Datenschutz</a> / <a href="http://www.uni-stuttgart.de/impressum" target="_blank">Impressum</a></p>
                </div>
            </div> 
            </div>
        </footer>
    </div>
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>
