      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Auswertungen
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {% if nbar == 'zusammenfassung' %}active{% endif %}" href="{% url 'zusammenfassung' %}">Zusammenfassung {% if nbar == 'zusammenfassung' %}<span class="sr-only">(current)</span>{% endif %}</a>
          <a class="dropdown-item {% if nbar == 'dialogbeteiligung' %}active{% endif %}" href="{% url 'dialogbeteiligung' %}">Wie viel Beteiligung findet statt {% if nbar == 'dialogbeteiligung' %}<span class="sr-only">(current)</span>{% endif %}</a>
          <a class="dropdown-item {% if nbar == 'jugendbeteiligung' %}active{% endif %}" href="{% url 'jugendbeteiligung' %}">Jugendbeteiligung in Baden-W&uuml;rttemberg {% if nbar == 'jugendbeteiligung' %}<span class="sr-only">(current)</span>{% endif %}</a>
          <a class="dropdown-item disabled" href="#">Direktdemokratische Beteiligung</a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Daten
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Beteiligungsverfahren</a>
          <a class="dropdown-item" href="#">nach Orten</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Scientific Use File</a>
          <a class="dropdown-item disabled" href="#">Methode</a>
        </div>
      </li>